/* Ratmir Shchadrynski */

@import "modules/story.css";
@import "modules/typography.css";
@import "modules/form.css";
@import "modules/about.css";
@import "modules/columns3.css";


@media screen and (max-width: 640px) {
  
  p{
    font-size: 7.5px;
  }

  li{
    font-size: 7.5px;
  }

  a{
    font-size:7.5px;
  }

  h1{
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 14px;
  }
  h5{
    font-size: 12px;
  }
  h6{
    font-size: 10px;
  }
}

.header {
    height: 170px;
    width: 100%;
    background: rgba(17, 114, 165, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 0.36);
}

.header_text {
    display: block;
    text-align: center;
    font-family: fantasy;
    color: rgb(51, 141, 198);   
}

.header_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.nav {   
    padding-left: 0px;
    list-style: none;
    text-align: center;
    display: block;
    text-align: center;
    font-family: fantasy;
}

.nav li {
    display: inline;
    margin: 50px;
    text-align: center;
}

nav a {
    display: inline-block;  
    color: rgb(51, 141, 198);  
    text-decoration: none;
}

.bg_img {
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    size: auto;
    margin:0;


}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: auto;
    

}

.footer ul {
    color: wheat;
}

.footer ul a {
    color: rgb(51, 141, 198);  
}

.form {
    color: rgb(51, 141, 198);  ;
}