.wrapper {
    display: grid;
    height: 100%  ;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2vw;
  }
  
  .main_part {
  display: flex;
  flex-direction: column;
  background: rgba(17, 114, 165, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color:white;
  font-size: large;
  }
  
  
  
  .main_part img {
    align-self: center;
    max-width: 50%;
    height: auto;
    padding: 20px;
  }
  
  .main_part p {
    margin: 18px;
  }
  
  
  .aside {
  display: flex;
  background: rgba(17, 114, 165, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex-direction: column;
  }
  
  
  
.aside a {
    color: white;
    margin: 18px;
  }
  
  .main_about {
    height: auto;
    padding: 5px;
  }