.main_columns {
  height: auto;
}

.three_columns {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.column_aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: rgba(17, 114, 165, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 5px;
  color: white;
}



.column_aside h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.column_aside a {
  justify-content: center;
  align-self: center;
  width: auto;
  height: auto;
}

.column_aside a img {
  width: 100%;
  height: 100%;
}



.column_main {
  display: flex;
  flex-direction: column;
  flex: 4;
  background: rgba(17, 114, 165, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px;
  padding: 10px;
  color: white;
}

.column_main h1 {
  text-align: center;
  font-family: fantasy;
}

.column_main img {
  align-self: center;
  max-width: 70%;
  height: auto;
}

.column_main p {
  font-size: large;
}
