.main_typography {
  color: white;
}

.main_typography h1 {
  text-decoration: underline;
  font-style: italic;
  color: violet;
}

.main_typography p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: tomato;
}

.main_typography pre {
  font-family: monospace;
  color: aqua;
}

.main_typography table {
  text-decoration: underline;
  color: rgb(93, 0, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main_typography ul {
  color: yellowgreen;
  font-weight: bold;
}

.main_typography ol {
  color: yellowgreen;
  font-weight: bold;
}
